{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "bracketSpacing": true,
  "importOrder": [
    "^react(.*)",
    "^@tanstack/(.*)$",
    "^recoil(.*)",
    "^axios(.*)",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^@api/(.*)$",
    "^@utils/(.*)$",
    "^@router/(.*)$",
    "^@type/(.*)$",
    "^@constants/(.*)$",
    "^@assets/(.*)$",
    "^@styles/(.*)$",
    "^@stories/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
